@import "reset";
@import "common";


/* structure */
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 8rem;
    padding-bottom: 2rem;

    background-image: url("images/background.png");
    background-repeat: repeat-x;
    background-position: center top;

    img { border-radius: 6px; }
    h1 { margin-top: 2rem; }
    h2 { margin-top: 1rem; }

}

nav {
    ul { text-align: center; }
    li { display: inline; }
    a { text-decoration: none; }

    svg {
        width: 32px;
        height: 32px;

        path { fill: $body; }
    }
    svg:hover {
        path { fill: $sub; }
    }
}

nav#contact {
    margin-top: 2rem;

    li { padding: 12px; }
}

nav#site {
    width: 100%;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

    background: $background;

    padding-top: 1rem;
    padding-bottom: 2rem;

    margin-top: 4rem;
    margin-bottom: 8rem;

    li {
        @include type-setting(2);
        padding: 32px;
    }
}



#wrapper { 
    margin-left: auto;
    margin-right: auto;

    max-width: $width; 
    padding-left: $page-padding;
    padding-right: $page-padding;

    .row { 
        padding-top: 8rem; 
    }

    .project {
        margin-top: 2rem;

        img { opacity: 0.5; }
    }

    // clearfix 
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .project:after {
        content: "";
        display: table;
        clear: both;
    }

    aside {
        h1 {
            @include type-setting(2);
            @include body-font;

            border-bottom: $thin-underline solid;
        }

        .pattern { height: $base-line-height; }
    }

    section {
        p:first-child {
            margin-top: $base-line-height;
        }
    }

    .rainbow-1 aside h1 { border-bottom-color: $rainbow-1; }
    .rainbow-2 aside h1 { border-bottom-color: $rainbow-2; }
    .rainbow-3 aside h1 { border-bottom-color: $rainbow-3; }
    .rainbow-4 aside h1 { border-bottom-color: $rainbow-4; }
    .rainbow-5 aside h1 { border-bottom-color: $rainbow-5; }

    .rainbow-1 .pattern { background: $rainbow-1-light; }
    .rainbow-2 .pattern { background: $rainbow-2-light; }
    .rainbow-3 .pattern { background: $rainbow-3-light; }
    .rainbow-4 .pattern { background: $rainbow-4-light; }
    .rainbow-5 .pattern { background: $rainbow-5-light; }
}

/* responsive breakpoints */
@media (min-width: 360px) {
    aside {
        display: block;
        width: 100%;
        padding-right: 0;
    }

    section {
        display: block;
        width: 100%;
    }

    .project aside { display: none; }
}

@media (min-width: 800px) {
    aside {
        float: left;
        width: 33%;
        padding-right: $box-padding;
        box-sizing: border-box;
    }

    section {
        float: right;
        width: 66%; 
        padding-left: $box-padding;
        box-sizing: border-box;
    }

    .project aside { display: block; }
}


/* colours */
body {
    background-color: $background;
    color: $body;
}

nav#site {
    li a { 
        color: $sub; 
        border-bottom: $thin-underline solid;
        padding-bottom: 4px;
    }
    li a:hover { 
        color: $body; 
    }
    li.active a { 
        color: $body; 
        border-bottom-width: $thick-underline;
        padding-bottom: 4px - ($thick-underline - $thin-underline);
    }

    a.rainbow-1 { border-bottom-color: $rainbow-1; }
    a.rainbow-2 { border-bottom-color: $rainbow-2; }
    a.rainbow-3 { border-bottom-color: $rainbow-3; }
    a.rainbow-4 { border-bottom-color: $rainbow-4; }
    a.rainbow-5 { border-bottom-color: $rainbow-5; }
}

/* typography */
h1 {
    @include type-setting(4);
    @include header-font;
}

h2 {
    @include type-setting(2);
    @include header-font;
}

p {
    @include type-setting(0);
    @include body-font;
    padding-bottom: 1rem;
}

em {
    @include body-font-italic;
}

strong {
    @include body-font-bold;
}

a {
    &:link {
        @include body-font;
        color: $link;
    }
    &:visited {
        color: $link;
    }
    &:hover {
        color: $link-hover;
        text-decoration: none;
    }
}

.project aside {
    text-align: right;
}

.project h2 {
    @include type-setting(0);
    @include body-font-bold;
}

.project p {
    @include type-setting(-1);
}
