/* sizes */
$width: 800px;
$border: 1px;
$padding: 24px;

/* colour */
$background: #fefffe;
$subtle-hint: #f5f5f5;

$body: #1a2930;
$sub: desaturate(lighten($body, 10%), 10%);

$rainbow-1: #ff7a7a;
$rainbow-2: #ffc078;
$rainbow-3: #ffde70;
$rainbow-4: #8fa97f;
$rainbow-5: #6a91a4;

$link: $rainbow-5;
$link-hover: lighten($rainbow-5, 10%);

$rainbow-1-light: lighten(#ff7a7a, 5%);
$rainbow-2-light: lighten(#ffc078, 5%);
$rainbow-3-light: lighten(#ffde70, 5%);
$rainbow-4-light: lighten(#8fa97f, 5%);
$rainbow-5-light: lighten(#6a91a4, 5%);

/* font styles */
@mixin header-font() {
    font-family: "Lato", "Verdana", sans-serif;
}

@mixin body-font() {
    font-family: "Raleway", "Verdana", sans-serif;
    font-weight: 400;
}

@mixin body-font-italic() {
    font-family: "Raleway", "Verdana", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin body-font-bold() {
    font-family: "Raleway", "Verdana", sans-serif;
    font-weight: 700;
}

/* typographic baseline */
/* ~> https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm */

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.4;

$type-scale: (
    -1: 0.75rem,
    0: 1rem,      
    1: 1.333rem,  
    2: 1.777rem,
    3: 2.369rem,
    4: 3.157rem,   
    5: 4.209rem,   
    6: 5.61rem,   
);

$line-heights: (
    -1: $base-line-height,
    0: $base-line-height,
    1: $base-line-height * 2,
    2: $base-line-height * 2,
    3: $base-line-height * 2,
    4: $base-line-height * 2,
    5: $base-line-height * 2,
    6: $base-line-height * 2,
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
    font-size: type-scale($level);
    line-height: line-height($level);
}
