/* sizes */
$width: 760px;
$border: 1px;

/* colour */
$background: #fefffe;
$subtle-hint: #f5f5f5;

$body: #1a2930;
$sub: desaturate(lighten($body, 25%), 20%);

$rainbow-1: #ff7a7a;
$rainbow-2: #ffc078;
$rainbow-3: #ffde70;
$rainbow-4: #8fa97f;
$rainbow-5: #6a91a4;

$rainbow-1-light: lighten(#ff7a7a, 5%);
$rainbow-2-light: lighten(#ffc078, 5%);
$rainbow-3-light: lighten(#ffde70, 5%);
$rainbow-4-light: lighten(#8fa97f, 5%);
$rainbow-5-light: lighten(#6a91a4, 5%);

/* font styles */
@mixin header-font() {
    font-family: "Lato", "Verdana", sans-serif;
}

@mixin body-font() {
    font-family: "Raleway", "Verdana", sans-serif;
}

/* typographic baseline */
/* ~> https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm */

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
    -1: 0.75rem,
    0: 1rem,      
    1: 1.333rem,  
    2: 1.777rem,
    3: 2.369rem,
    4: 3.157rem,   
    5: 4.209rem,   
    6: 5.61rem,   
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@mixin type-setting($level: 0) {
    font-size: type-scale($level);
    line-height: line-height($level);
}

/* typography */
h1 {
    @include type-setting(4);
    @include header-font;
}

h2 {
    @include type-setting(2);
    @include header-font;
}

p {
    @include type-setting(0);
    @include body-font;
    padding-bottom: 1rem;
}
