@import "reset";
@import "common";


/* structure */
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colours */
body {
    background-color: $background;
    color: $body;
}
