@import "reset";
@import "common";


/* structure */
header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 6rem;

    img { border-radius: 4px; }
    h1 { margin-top: 2rem; }
    h2 { margin-top: 1rem; }
}

section { 
    margin-left: auto;
    margin-right: auto;
    width: $width; 
}

aside {
    display: none;
}

/* navigation elements */
nav {
    ul { text-align: center; }
    li { display: inline; }
    a { text-decoration: none; }
}

nav#contact {
    margin-top: 2rem;

    li { padding: 12px; }
}

nav#site {
    margin-top: 4rem;
    margin-bottom: 4rem;

    li {
        @include type-setting(2);
        @include header-font;
        padding: 32px;
    }
}


/* colours */
body {
    background-color: $background;
    color: $body;
}

nav#site {
    a { 
        color: $sub; 
        border-bottom: 2px solid;
    }
    a:hover { 
        color: $body; 
    }
    a.active { 
        color: $body; 
        border-bottom-width: 5px;
    }

    a.home { border-bottom-color: $sub; }
    a.rainbow-1 { border-bottom-color: $rainbow-1; }
    a.rainbow-2 { border-bottom-color: $rainbow-2; }
    a.rainbow-3 { border-bottom-color: $rainbow-3; }
    a.rainbow-4 { border-bottom-color: $rainbow-4; }
    a.rainbow-5 { border-bottom-color: $rainbow-5; }
}
