{% include section/default.html %}

{% for project in site.data.projects %}
    <div class="project">
        <aside>
            <img src="{{ project.image }}">
        </aside>
        <section>
            <h2>{{ project.name }}</h2>

            <summary>
                {{ project.description }}

                {% for link in project.links %}
                <a href="{{ link.link }}">{{ link.name }}</a>
                {% if forloop.last == false %} | {% endif %}
                {% endfor %}

                {% if project.link %}
                <a href="{{ project.link }}">View &raquo;</a>
                {% endif %}
            </summary>
        </section>
    </div>
{% endfor %}
